{% extends 'base.html.twig' %}
{% block body %}

<div class="text-right" style="margin-right: 20px">Date du jour: {{ "now"|date("d/m/Y") }}</div>
    <div class="search-title">
        {% include 'site/filtre_site.html.twig' %}

    </div>

<div class="mx-auto group-form" style="width: 400px">

    <div style="margin-bottom: 20%">
        <table class="table">
            <tr>

                <th>Nom du site</th>
                <th>Actions</th>


            </tr>

            {% for key,s in sites %}

                <tr>
                    <td>{{ s.nom }}</td>

                <td>
                    <a href="{{ path('modifier_site',{'id':s.id}) }}">Modifier</a>

                    <a href="{{ path("delete_site",{'id':s.id}) }}">Supprimer</a>

                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <a href="{{ path("add_site") }}"><button type="submit" class="btn btn-primary">Ajouter</button></a>

</div>
{%  endblock %}