{% extends 'base.html.twig' %}
{% block body %}

        <div class="mx-auto group-form" style="width: 400px">
            {{ form_start(formulaire) }}
        <div class="group-form">
            {{ form_row(formulaire.pseudo,{'attr':{'value':participant.pseudo,'class':'form-control'}})  }}
        </div>
        <div class="group-form">
            {{ form_row(formulaire.prenom,{'attr':{'value':participant.prenom,'class':'form-control'}})  }}
         </div>
        <div class="group-form">
            {{ form_row(formulaire.nom,{'attr':{'value':participant.nom,'class':'form-control'}})  }}
        </div>
        <div class="group-form">
            {{ form_row(formulaire.telephone,{'attr':{'value':participant.telephone,'class':'form-control'}})  }}
        </div>
        <div class="group-form">
            {{ form_row(formulaire.mail,{'attr':{'value':participant.mail,'class':'form-control'}})  }}
        </div>
            <div class="group-form">
                {{ form_row(formulaire.site,{'attr':{'class':'form-control'}})  }}
            </div>
            <div class="group-form">
                {{ form_row(formulaire.mdp.first,{'attr':{'value':participant.mdp,'class':'form-control','disabled':'disabled'}})  }}

            </div>
            <div class="group-form">
                {{ form_row(formulaire.mdp.second,{'attr':{'class':'form-control','disabled':'disabled'}})  }}

            </div>
            <div class="group-form">
                {{ form_row(formulaire.actif,{'attr':{'class':'form-control'}})  }}
            </div>
            <div class="group-form">
                {{ form_row(formulaire.administrateur,{'attr':{'class':'form-control'}})  }}
            </div>
            <div class="group-form">
                {{ form_row(formulaire.avatar,{'attr':{'class':'form-control','disabled':'disabled'}})  }}
            </div>

<div style="margin-top: 30px">
    <button type="submit" class="btn btn-primary">Modifier</button>
    <button type="button" class="btn btn-primary">Retour</button>
</div>

        {{ form_end(formulaire) }}

    </div>


    <div class="group-form"></div>



{% endblock %}