{% extends 'base.html.twig' %}
{% block body %}


    <style>
        .increase {
            width:30px;
            height:30px;
        }
    </style>
    <div>
        {% if participant.avatar %}
        <img src="{{ asset("images/"~participant.avatar) | imagine_filter('my_thumb')}}">
        {% else %}
        <img src="{{ asset("images/avatar.png") }}">
        {% endif %}

    </div>
        <div class="mx-auto group-form" style="width: 400px">
            {{ form_start(formulaire) }}
        <div class="group-form">
            {{ form_row(formulaire.pseudo,{'attr':{'value':participant.pseudo,'class':'form-control'}})  }}
        </div>
        <div class="group-form">
            {{ form_row(formulaire.prenom,{'attr':{'value':participant.prenom,'class':'form-control'}})  }}
         </div>
        <div class="group-form">
            {{ form_row(formulaire.nom,{'attr':{'value':participant.nom,'class':'form-control'}})  }}
        </div>
        <div class="group-form">
            {{ form_row(formulaire.telephone,{'attr':{'value':participant.telephone,'class':'form-control'}})  }}
        </div>
        <div class="group-form">
            {{ form_row(formulaire.mail,{'attr':{'value':participant.mail,'class':'form-control'}})  }}
        </div>
        <div class="group-form">
            {{ form_row(formulaire.mdp.first,{'attr':{'class':'form-control'}})  }}

        </div>
            <div class="group-form">
                {{ form_row(formulaire.mdp.second,{'attr':{'class':'form-control'}})  }}

            </div>
            <div class="group-form">
                {{ form_row(formulaire.site,{'attr':{'class':'form-control'}})  }}
            </div>


        {{ form_row(formulaire.avatar)  }}

            <div class="group-form">
                {% if participant.actif %}
                {{ form_widget(formulaire.actif,{'attr':{'checked':'checked','class':'increase','disabled':'disabled'}})  }}
                {{ form_label(formulaire.actif, 'Actif') }}
                    {% else %}
                        {{ form_widget(formulaire.actif,{'attr':{'class':'increase','disabled':'disabled'}})  }}
                        {{ form_label(formulaire.actif, 'Actif') }}
                {% endif %}

            </div>
            <div class="group-form ">
                {% if participant.administrateur %}
                    {{ form_widget(formulaire.administrateur,{'attr':{'checked':'checked','class':'increase','disabled':'disabled'}})  }}
                    {{ form_label(formulaire.administrateur, 'Administrateur') }}
                {% else %}
                    {{ form_widget(formulaire.administrateur,{'attr':{'class':'increase','disabled':'disabled'}})  }}
                    {{ form_label(formulaire.administrateur, 'Administrateur') }}
                {% endif %}
            </div>

        <button type="submit" class="btn btn-primary">Modifier</button>
        <button type="button" class="btn btn-primary">Retour</button>
        {{ form_end(formulaire) }}

    </div>


    <div class="group-form"></div>



{% endblock %}