{% extends 'base.html.twig' %}
{% block body %}
    <div style="display: inline-flex">
        {{ form_start(formulaire) }}
        {#{{ form_row(formulaire.prenom,{'value':participant.prenom})  }}#}
        {{ form_row(formulaire.prenom,{'value':participant.prenom})  }}
        {{ form_row(formulaire.nom,{'value':participant.nom})  }}
        {{ form_row(formulaire.telephone,{'value':participant.telephone})  }}
        {{ form_row(formulaire.mail,{'value':participant.mail})  }}
       {# {{ form_row(formulaire.mdp)  }}#}

        <button type="submit">Modifier</button>

        {{ form_end(formulaire) }}

        <form method="post" action="{{ path("accueil") }}">

            <button type="submit">Retour</button>
        </form>
    </div>



{% endblock %}