{% extends 'base.html.twig' %}
{% block body %}
    <div>
        {% if participant.avatar %}
        <img src="{{ asset("images/"~participant.avatar) | imagine_filter('my_thumb')}}">
        {% else %}
        <img src="{{ asset("images/avatar.png") }}">
        {% endif %}

    </div>
        <div class="mx-auto group-form" style="width: 400px">
            {{ form_start(formulaire) }}
        <div class="group-form">
            {{ form_row(formulaire.pseudo,{'attr':{'value':participant.pseudo,'class':'form-control'}})  }}
        </div>
        <div class="group-form">
            {{ form_row(formulaire.prenom,{'attr':{'value':participant.prenom,'class':'form-control'}})  }}
         </div>
        <div class="group-form">
            {{ form_row(formulaire.nom,{'attr':{'value':participant.nom,'class':'form-control'}})  }}
        </div>
        <div class="group-form">
            {{ form_row(formulaire.telephone,{'attr':{'value':participant.telephone,'class':'form-control'}})  }}
        </div>
        <div class="group-form">
            {{ form_row(formulaire.mail,{'attr':{'value':participant.mail,'class':'form-control'}})  }}
        </div>
        <div class="group-form">
            {{ form_row(formulaire.mdp.first,{'attr':{'class':'form-control'}})  }}

        </div>
            <div class="group-form">
                {{ form_row(formulaire.mdp.second,{'attr':{'class':'form-control'}})  }}

            </div>
            <div class="group-form">
                {{ form_row(formulaire.site,{'attr':{'class':'form-control'}})  }}
            </div>


        {{ form_row(formulaire.avatar)  }}

            <div class="group-form">
                {{ form_row(formulaire.actif,{'attr':{'value':participant.actif,'class':'form-control','disabled':'disabled'}})  }}
            </div>
            <div class="group-form">
                {{ form_row(formulaire.administrateur,{'attr':{'value':participant.administrateur,'class':'form-control','disabled':'disabled'}})  }}
            </div>

        <button type="submit" class="btn btn-primary">Modifier</button>
        <button type="button" class="btn btn-primary">Retour</button>
        {{ form_end(formulaire) }}

    </div>


    <div class="group-form"></div>



{% endblock %}