{% extends 'base.html.twig' %}
{% block body %}
    <div style="display: inline-flex">
        {{ form_start(formulaire) }}
        {#{{ form_row(formulaire.prenom,{'value':participant.prenom})  }}#}
        {{ form_row(formulaire.prenom,{'value':participant.prenom})  }}
        {{ form_row(formulaire.nom,{'value':participant.nom})  }}
        {{ form_row(formulaire.telephone,{'value':participant.telephone})  }}
        {{ form_row(formulaire.mail,{'value':participant.mail})  }}
       {# {{ form_row(formulaire.mdp)  }}#}

        <button type="submit">Modifier</button>

        {{ form_end(formulaire) }}

        <form method="post" action="{{ path("accueil") }}">

            <button type="submit">Retour</button>
        </form>
    </div>
 {#   <div class="form">
        <p>Pseudo: à intégrer</p>
        <p>Prénom: , </p>
        <p>Nom: {{ participant.nom }}</p>
        <p>Téléphone: {{ participant.telephone }}</p>
        <p>Email: {{ participant.mail }}</p>
        <p>Site de rattachement:à implémenter</p>
        <p>Ma photo: à intégrer</p>

        <div style="display: inline-flex">
            <form method="post" action="{{ path("modifier_profil") }}">
                <button type="submit">Modifier</button>

            </form>
            <form method="post" action="">

                <button type="submit">Retour</button>
            </form>
        </div>
    </div>
#}


{% endblock %}