{% extends "base.html.twig" %}

{% block body %}
<div>
    <div><a href="{{ path("addParticipant") }}">Inscrire un participant</a> </div>
    <div><a href="{{ path("gestionParticipant") }}">Gérer les participants</a> </div>
    <div><a href="{{ path("gestionSortie") }}">Gérer les sorties</a> </div>
    <div><a href="{{ path("accueil_ville") }}">Gérer les lieux</a> </div>
    <div><a href="{{ path("accueil_site") }}">Gérer les sites</a> </div>
</div>



    {% block interface %}

    {% endblock %}




{% endblock  %}


