{% extends "admin/admin.html.twig" %}
{% block interface %}

<table class="table">
    <tr>
        <th>Pseudo</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Mail</th>
        <th>Etat du compte</th>
        <th>Rôle</th>
        <th>Actions</th>
    </tr>
    {% for p in participants %}
        <tr>
            <td>{{ p.pseudo }}</td>
            <td>{{ p.nom }}</td>
            <td>{{ p.prenom }}</td>
            <td>{{ p.mail }}</td>
            {% if p.actif %}
                <td>Actif</td>
            {% else %}
                <td>Inactif</td>
            {% endif %}
            {% if p.administrateur %}
                <td>Administrateur</td>
            {% else %}
                <td>Utilisateur</td>
            {% endif %}
            <td>
                <a href="{{ path("modifier_profil",{'id':p.id}) }}">Modifier</a>
                <a href="{{ path("deleteParticipant",{'id':p.id}) }}">Supprimer</a>
            </td>

        </tr>
    {% endfor %}
</table>

{% endblock %}