{% extends "admin/admin.html.twig" %}

{% block interface %}

<div style="margin-bottom: 20%">
    <table class="table">
        <tr>

            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture des inscriptions</th>

            <th>Etat</th>

            <th>Organisateur</th>
            <th>Actions</th>

        </tr>

        {% for key,s in sorties %}

            {% set dateSortie = s.dateHeureDebut |date  %}
            {% set dateNow = "now"|date  %}
            {% set dateDifference = date(dateNow).diff(date(dateSortie)) %}

            {%  if dateDifference.days < 30 %}

                <tr>
                    <td>{{ s.nom }}</td>
                    <td>{{ s.dateHeureDebut | date("d/m/Y h:m:s") }}</td>
                    <td>{{ s.dateLimiteInscription | date("d/m/Y h:m:s") }}</td>


                    <td>{{ s.etat.libelle }}</td>



                    <td>

                        <a href="{# "{{ path("profilParticipant",{'id':s.id}) }}#}">{{ s.auteur.nom }}</a>
                    </td>
                    <td>


                        <a href="{{ path("afficherSortie",{'id':s.id}) }}">Afficher</a>


                            {% if  s.dateHeureDebut | date("d/m/Y h:m:s") < "now"|date("d/m/Y h:m:s")  and s.etat.libelle != "Passée" and s.etat.libelle != "Clôturée" and s.etat.libelle != "Annulée" %}
                                <a href="{{ path("annulerSortie",{'id':s.id}) }}">Annuler</a>
                            {% endif %}



                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

{% endblock %}