<!DOCTYPE html>
<html>{#stephane#}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {{ form_start(sortieForm) }}

            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateHeureDebut) }}
            {{ form_row(sortieForm.dateLimiteInscription) }}
            {{ form_row(sortieForm.nbInscriptionsMax) }}
            {{ form_row(sortieForm.duree) }}
            {{ form_row(sortieForm.infosSortie) }}
            {{ form_row(sortieForm.lieu,{'attr':{'onclick':'showInfos(this.value)'}}) }}


            <button type="submit">Publier la Sortie </button>
            <button><a href="/GestionSorties/public">Annuler</a></button>
            <button type="button">Enregistrer</button>
            {{ form_end(sortieForm) }}

            <div id="infos"></div>


        {% endblock %}

    </body>
{% block javascripts %}
<script>
    function showInfos(valeur) {

        var xhttp;
        if (valeur == "") {

            document.getElementById("infos").innerHTML = "";
            return;
        }
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log("youpi");
                document.getElementById("infos").innerHTML = this.responseText;
                document.getElementById("infos2").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "{{ asset("requete.php") }}?q="+valeur, true);
        xhttp.send();
    }
</script>
{% endblock %}
</html>
