{% extends "base.html.twig" %}

        {% block body %}

            <div class="row mx-auto"style="width: 80%">
                <div class="col-6">
                    {{ form_start(sortieForm) }}

                    {{ form_row(sortieForm.nom,{'attr':{'class':"form-control"}}) }}
                    {{ form_row(sortieForm.dateHeureDebut) }}
                    {{ form_row(sortieForm.dateLimiteInscription) }}
                    {{ form_row(sortieForm.nbInscriptionsMax,{'attr':{'class':"form-control"}}) }}
                    {{ form_row(sortieForm.duree) }}
                    <div style="margin-bottom: 50px">
                    {{ form_row(sortieForm.infosSortie,{'attr':{'class':"form-control"}}) }}
                    </div>
                </div>
                <div class="col-6">
                    {{ form_row(sortieForm.lieu,{'attr':{'onclick':'showInfos(this.value)','class':"form-control"}}) }}

                    <div id="infos">

                    </div>

                </div>
            <div class="mx-auto"style="width: 40%;margin-bottom: 80px">

                {{ form_row(sortieForm.isPublished) }}
                    <button><a href="/GestionSorties/public" class="btn btn-primary">Annuler</a></button>
                    <button type="submit" class="btn btn-primary" onclick="actionChange()">Enregistrer</button>
                    {{ form_end(sortieForm) }}


            </div>
            </div>
        {% endblock %}


{% block javascripts %}

<script>

    function showInfos(valeur) {

        var xhttp;
        if (valeur == "") {

            document.getElementById("infos").innerHTML = "";
            return;
        }
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log("youpi");
                document.getElementById("infos").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "{{ asset("requete.php") }}?q="+valeur, true);
        xhttp.send();
    }


</script>
{% endblock %}

