{% extends 'base.html.twig' %}
{% block body %}


    <div class="mx-auto" style="text-align: center">
    <div>

        <div><label>Nom de la sortie: </label>{{ sortie.nom }}</div>
        <div> <label>Date et heure de la sortie: </label>{{ sortie.dateHeureDebut | date("d/m/Y")}}</div>
        <div><label>Date limite d'inscription: </label>{{ sortie.dateLimiteInscription | date("d/m/Y")}}</div>
        <div><label>Nombre de places: </label>{{ sortie.nbInscriptionsMax }}</div>
        <div><label>Durée: </label>{{ sortie.duree |date("h:m:s")}}</div>
        <div><label>Description et infos: </label>{{ sortie.infosSortie }}</div>
        <div><label>Site: </label>{{ sortie.site.nom}}</div>
        <div><label>Lieu: </label>{{ sortie.lieu.nom }}</div>
        {#<div><label>Description et infos: </label>{{ sortie.auteur }}</div>#}


    </div>


        {% if(etat==true and etat2==true)%}
            <a class="btn btn-primary" href="{{ path("participer",{"id":sortie.id}) }}">S'inscrire</a>
        {% elseif(not etat and etat2==false) %}
            <a class="btn btn-outline-danger"  href="{{ path("desister",{"id":sortie.id}) }}">Désister</a>
        {% else %}
            <p>Complet</p>
        {% endif %}

    </div>


    <div class="test">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom</th>
        </tr>
        </thead>
        <tbody>
        {% for key,participant in p_sortie %}
        <tr>
            <th scope="row">{{ participant.participant.pseudo }}</th>
            <td>{{ participant.participant.nom }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>

    
{% endblock %}