{% extends 'base.html.twig' %}
{% block body %}



    <div class="row mx-auto" style="width: 40%">
    <div class="col-6">
        <table class="table">
            <tr><th>Nom de la sortie</th><td>{{ sortie.nom }}</td></tr>
            <tr><th>Date et heure de la sortie:</th><td>{{ sortie.dateHeureDebut | date("d/m/Y")}}</td></tr>
            <tr><th>Date limite d'inscription:</th><td>{{ sortie.dateLimiteInscription | date("d/m/Y")}}</td></tr>
            <tr><th>Nombre de places:</th><td>{{ sortie.nbInscriptionsMax }}</td></tr>
            <tr><th>Durée:</th><td>{{ sortie.duree |date("h:m:s")}}</td></tr>
            <tr><th>Description et infos:</th><td>{{ sortie.infosSortie }}</td></tr>

        </table>

    </div>
    <div class="col-6">
        <table class="table">
        <tr><th>Lieu:</th><td>{{ sortie.lieu.nom}}</td></tr>
        <tr><th>Rue:</th><td>{{ sortie.lieu.rue}}</td></tr>
        <tr><th>Ville:</th><td>{{ sortie.lieu.ville.nom }}<</td></tr>
        <tr><th>Latitude:</th><td>{{ sortie.lieu.latitude }}</td></tr>
        <tr><th>Longitude:</th><td>{{ sortie.lieu.longitude}}</td></tr>
        </table>
    </div>

    </div>

    <div class="row mx-auto" style="width: 20%">

        {% if(etat==true and etat2==true)%}
            <a class="btn btn-primary" href="{{ path("participer",{"id":sortie.id}) }}">S'inscrire</a>
        {% elseif(not etat and etat2==false) %}
            <a class="btn btn-outline-danger"  href="{{ path("desister",{"id":sortie.id}) }}">Désister</a>
        {% else %}
            <p>Complet</p>
        {% endif %}
        <a class="btn btn-primary" href="{{ path("accueil") }}">Retour</a>

    </div>



    <div class="test">
        <legend>Liste des participants inscrits:</legend>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom</th>
        </tr>
        </thead>
        <tbody>
        {% for key,participant in p_sortie %}
        <tr>
            <th scope="row">
                <a href="{{ path("profilParticipant",{'id':participant.participant.id}) }}">{{ participant.participant.pseudo }}</a>
            </th>
            <td>
                <a href="{{ path("profilParticipant",{'id':participant.participant.id}) }}">{{ participant.participant.nom }}</a>

            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>

    
{% endblock %}