{% extends 'base.html.twig' %}
{% block body %}

    <div>

        <div><label>Nom de la sortie: </label>{{ sortie.nom }}</div>
        <div> <label>Date et heure de la sortie: </label>{{ sortie.dateHeureDebut | date("d/m/Y")}}</div>
        <div><label>Date limite d'inscription: </label>{{ sortie.dateLimiteInscription | date("d/m/Y")}}</div>
        <div><label>Nombre de places: </label>{{ sortie.nbInscriptionsMax }}</div>
        <div><label>Durée: </label>{{ sortie.duree |date("h:m:s")}}</div>
        <div><label>Description et infos: </label>{{ sortie.infosSortie }}</div>
{#        <label>Lieu: </label>{{ sortie. }}#}
{#        <label>Rue: </label>#}
{#        <label>Ville: </label>#}
{#        <label>Code postal: </label>#}
{#        <label>Latitude: </label>#}
{#        <label>Longitude: </label>#}

    </div>

    <form method="post" action="{{ path("afficherSortie",{"id":1}) }}">
        {% if( etat==true)%}
            <div>  <button type="submit" class="btn btn-primary">S'inscrire</button></div>
        {% elseif(etat==false) %}
        <div>  <button type="submit" class="btn btn-danger">Désister</button></div>
        {% else %}

        {% endif %}
    </form>


    {% for participant in p_sortie %}
        {{ participant.participant.nom }}
    {% endfor %}


    
{% endblock %}