
        {% extends "base.html.twig" %}

        {% block body %}

        <div class="row mx-auto"style="width: 80%">
            <div class="col-6">
                {{ form_start(sortieAnnulerForm) }}
                    {{ form_row(sortieAnnulerForm.nom) }}
                    {{ form_row(sortieAnnulerForm.dateHeureDebut) }}
                    {{ form_row(sortieAnnulerForm.lieu)  }}
                    {{ form_row(sortieAnnulerForm.infosSortie) }}
            </div>

            <div class="mx-auto"style="width: 40%;margin-bottom: 80px">
                <button type="submit" class="btn btn-primary">Enregistrer </button>
                {{ form_end(sortieAnnulerForm) }}
                <button><a href="/GestionSorties/public" class="btn btn-primary">Annuler</a></button>
        </div>
        <div id="infos"></div>

        </div>
        {% endblock %}

{% block javascripts %}

{% endblock %}

