
{% extends "base.html.twig" %}

        {% block body %}

            <div class="row mx-auto"style="width: 80%">
                 <div class="col-6">
                 {{ form_start(profilParticipantForm) }}
                     {{ form_row(profilParticipantForm.pseudo) }}
                     {{ form_row(profilParticipantForm.nom) }}
                     {{ form_row(profilParticipantForm.prenom) }}
                     {{ form_row(profilParticipantForm.telephone) }}
                     {{ form_row(profilParticipantForm.mail) }}
                     {{ form_row(profilParticipantForm.site) }}
                 </div>

                <div class="mx-auto"style="width: 40%;margin-bottom: 80px">
                    <button><a href="/GestionSorties/public" class="btn btn-primary">Retour</a></button>
                {{ form_end(profilParticipantForm) }}
                </div>
        <div id="infos"></div>

            </div>
        {% endblock %}

    {% block javascripts %}

    {% endblock %}

