
{% extends "base.html.twig" %}

        {% block body %}

            <div class="mx-auto"style="width: 20%">


<div>
                         <label>Pseudo: </label>{{ pa.pseudo }}
</div>
                         <div><label>Nom: </label>{{ pa.nom }}</div>
                         <div><label>Prénom: </label>{{ pa.prenom }}</div>
                         <div><label>Téléphone: </label>{{ pa.telephone }}</div>
                         <div><label>Mail: </label>{{ pa.mail }}</div>
                         <div><label>Site de rattahement: </label>{{ pa.site.nom }}</div>


                 </div>

                <div class="mx-auto"style="width: 40%;margin-bottom: 80px">
                    <button><a href="{{ path("accueil") }}" class="btn btn-primary">Retour</a></button>
                {#{{ form_end(profilParticipantForm) }}#}
                </div>
        <div id="infos"></div>

            </div>
        {% endblock %}

    {% block javascripts %}

    {% endblock %}

