<div class="searchSortie">

    <div class="text-right" style="margin-right: 20px">Date du jour: {{ "now"|date("d/m/Y") }}</div>
    <div class="text-right" style="margin-right: 20px">Participant(e): {{ user.prenom }} {{ user.nom }}</div>
    <div class="search-title">
        {% include 'sortie/filtre.html.twig' %}

    </div>

    <div style="margin-bottom: 20%">
        <table class="table">
            <tr>

                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture des inscriptions</th>
                <th>Places disponibles</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>

            </tr>

            {% for key,s in sorties %}

                {% set dateSortie = s.dateHeureDebut |date  %}
                {% set dateNow = "now"|date  %}
                {% set dateDifference = date(dateNow).diff(date(dateSortie)) %}

                {%  if dateDifference.days < 30 %}

                <tr>
                    <td>{{ s.nom }}</td>
                    <td>{{ s.dateHeureDebut | date("d/m/Y h:m:s") }}</td>
                    <td>{{ s.dateLimiteInscription | date("d/m/Y h:m:s") }}</td>
                    {% set b2=false %}
                    {% for key2,q in quota %}
                        {% if key==key2 %}
                            <td>{{ q }}/{{ s.nbInscriptionsMax }}</td>
                        {% endif %}
                        {% if q==s.nbInscriptionsMax %}
                        {% set b2=true %}
                        {% endif %}
                    {% endfor %}

                    <td>{{ s.etat.libelle }}</td>

                    {% set b=false %}
                    {% for i in inscrit %}

                        {% if i.sortie.id==s.id %}
                            {% set b=true %}

                            <td>X</td>
                        {% endif %}

                    {% endfor %}
                    {% if not b %}
                        <td>O</td>
                    {% endif %}

                <td>

                    <a href="{# "{{ path("profilParticipant",{'id':s.id}) }}#}">{{ s.auteur.nom }}</a>
                </td>
                <td>


                        {% set b1=false %}
                        {% for i in inscrit %}
                            {% if s.id==i.sortie.id %}
                                {% set b1=true %}
                                <a href="{{ path('desister',{'id':s.id}) }}">Se désister</a>

                            {% endif %}

                        {% endfor %}

                        {% if not b and not b2 %}
                            <a href="{{ path("participer",{'id':s.id}) }}">S'inscrire</a>
                        {% endif %}


                        <a href="{{ path("afficherSortie",{'id':s.id}) }}">Afficher</a>

                    {% if s.auteur.id==user.id %}
                        <a href="">Modifier</a>
                        {% if not s.isPublished %}
                        <a href="{{ path("publier",{ 'id':s.id}) }}">Publier</a>
                            {% endif %}
                        {% if  s.dateHeureDebut | date("d/m/Y h:m:s") < "now"|date("d/m/Y h:m:s")  and s.etat.libelle != "Passée" and s.etat.libelle != "Clôturée" and s.etat.libelle != "Annulée" %}
                        <a href="{{ path("annulerSortie",{'id':s.id}) }}">Annuler</a>
                        {% endif %}


                    {% endif %}
                </td>
            </tr>
               {% endif %}
            {% endfor %}
        </table>
    </div>
</div>